# * Chave usada no JsonWebToken
JWT_SECRET="chave_secreta_jwt"

# * Conexão com o Banco de Dados
DATABASE_URL="urldobd.com.br"

# * Ambiente de desenvolvimento
NODE_ENV="development"

# * Key para sha256 Hmac
SHA256_KEY="chave_secreta_sha256"